footer {
  display: flex;
  /* background-color: #20263e; */
  color: white;
  justify-content: center;
  /* width: 100%; */
  /* padding: 20px; */
  /* margin-top: 10px; */
}

.footer-section {
  width: 100%;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

a {
  color: lightgray;
}
