.movie {
  position: relative;
  border: 5px solid black;
  width: 280px;
  transform: perspective(500px);
  transform-style: preserve-3d;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.movie:hover {
  transform: scale(1.05);
  background-color: grey;
  color: white;
  cursor: pointer;
}

#movie-img {
  width: 100%;
}

.text-card {
  margin: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
