.movie{

    position: relative;
    border: 5px solid black;
    /* background-color: red; */
    width: 280px;
    /* height: 90%; */
    /* border-radius: 30px; */

    transform: perspective(500px) ;
    transform-style: preserve-3d;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);





}

.movie:hover{
    transform: scale(1.05); /* Enlarge the item
    slightly */

    background-color:  grey; /* Set the background color to green */
    /* Remove the default border around the button */
    /* border-radius: 30px; */
    color: white; /* Set the text color to white */

    cursor: pointer; /* Change the mouse icon */

}

#movie-img{
    /* position: relative; */
    width: 100%;
    /* border-radius: 20px;
    border: solid black; */
    /* border-width: 2px;

    transform: perspective(500px) ;
    transform-style: preserve-3d;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);

    background-color: green; */


}

.text-card{
        margin: 10px;
        /* position: relative; */

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;




        /* background-color: blue; */

}
