.App {
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#AppHeader {
  background-color: black;
  width: 100%;
}

#AppBody {
  width: 100%;
  background-color: black;
  display: flex;
}

#AppFooter {
  background-color: black;
  border-top: solid #303030;
  color: lightgray;
  border-width: 10px;
  width: 100%;
  margin: 0;
  text-align: center;
}

#container {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  flex: 1;
}
